body.body-style__light {
    display: block;
	height: 100%;
    margin: 0;
    padding: 50px 0 0;
    background: #dedede url(../img/bg_gradient.png) repeat-x left top;
    font-family: $main-font;
    line-height: 1;
    color: #000;
    font-size: 100%;
        @media screen and (max-width: 600px) {
    		padding: 20px 0 0;
    	}
}

body.body-style__light-dark {
    display: block;
    height: 100%;
    margin: 0;
    padding: 50px 0 0;
    background: #dedede url(../img/bg_gradient.png) repeat-x left top;
    font-family: $main-font;
    line-height: 1;
    color: #000;
    font-size: 100%;
        @media screen and (max-width: 600px) {
            padding: 20px 0 0;
            background-color: #000;
            background-image: none;
        }
}

body.body-style__dark {
    display: block;
    height: 100%;
    margin: 0;
    padding: 50px 0 0;
    background: #111 url(../img/gradient_bg-dark.png) repeat-x;
    font-family: $main-font;
    line-height: 1;
    color: #000;
    font-size: 100%;
        @media screen and (max-width: 600px) {
            padding: 20px 0 0;
        }
}


h1 {
    font-weight: inherit;
    font-size: inherit;
}

li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

a {
    cursor: pointer;
}

em {
    font-style: italic;
}