.news__wrap {
	background-color: #fff;
    color: #555;
    padding-bottom: 55px;
    margin: 0 50px 50px 232px;
    font-family: $main-font;
		@media screen and (max-width: 600px) { 
	        padding-bottom: 30px;
	    	margin: 0 20px 20px;
	    }
}

.news__wrap-title {
	margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 71px;
    padding-top: 52px;
    padding-bottom: 15px;
    font-size: 26px;
    font-weight: 100;
    letter-spacing: 0;
    border-bottom: 6px solid #444;
    color: #444;
    	@media screen and (max-width: 600px) {
		    margin-bottom: 40px;
    		padding-top: 27px;
		    padding-bottom: 14px;
		    font-size: 22px;
		}
}

.news-item {
    position: relative;
    margin-top: 40px;
	margin-left: 9%;
    margin-right: 9%;
    border-bottom: 6px solid #444;
    	@media screen and (max-width: 600px) {
			margin-top: 20px;
		    margin-bottom: 15px;
	}
}

.date {
    position: absolute;
    left: 0;
    width: 64px;
    height: 53px;
	border: 1px solid #888;
    border-radius: 50%;
    margin-left: -3px;
    padding-top: 11px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-family: $secondary-font;
    color: #666;
    	@media screen and (max-width: 600px) {
    		display: none;
    	}
    	span {
    		font-size: 31px;
		    line-height: 31px;
		    font-family: $main-font;
		    letter-spacing: 1px;
		    color: #555;
    	}
}

.news-item__title {
	font-size: 19px;
    line-height: 21px;
	font-weight: 100;
    margin-left: 80px;
    margin-bottom: 9px;
    padding-top: 6px;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    	@media screen and (max-width: 600px) {
    		font-size: 17px;
		    margin-left: 0px;
		    padding-top: 4px;
		}
	    .news-item__link {
	    	text-decoration: none;
			color: #444;
	    	&:hover {
	    		color: #3f7b4c;
	    	}
	}
}

.news-item__details {
	margin-left: 80px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: $secondary-font;
    font-weight: 700;
    color: #777;
		@media screen and (max-width: 600px) {
	    	margin-left: 0px;
	    }
    	.news-item__details__link {
    		text-decoration: none;
    		color: #777;
    		&:hover {
    			text-decoration: underline;
    		}
    	}
}

.thumbnail {
	float: left;
    margin-right: 30px;
    margin-top: 11px;
    margin-bottom: 27px;
		@media screen and (max-width: 600px) {
		    margin-right: 12px;
		    margin-top: 3px;
		    margin-bottom: 12px;
		}
}

.news-description {
	margin-top: 35px;
    margin-bottom: 51px;
    line-height: 24px;
    font-size: 15px;
    	@media screen and (max-width: 600px) {
			margin-top: 20px;
    		margin-bottom: 25px;
		    line-height: 23px;
    		font-size: 16px;
    	}
}

